appdirs==1.4.4
attrs==20.3.0
black==19.10b0
bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
docutils==0.16
idna==2.10
keyring==21.5.0
mac-tag
packaging==20.5
pathspec==0.8.1
pkginfo==1.6.1
psutil==5.7.3
Pygments==2.7.2
pyparsing==2.4.7
PyYAML==5.3.1
readme-renderer==28.0
regex==2020.11.13
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
runcmd==0.0.0
six==1.15.0
toml==0.10.2
tqdm==4.54.0
twine==3.2.0
typed-ast==1.4.1
urllib3==1.26.2
values
webencodings==0.5.1
